extends base.pug

block content 
    video(src="/" + video.fileUrl,controls)
    div
        strong
            p=owner.name
        p=video.description
        p=video.hashtags
        small=video.createdAt
    <br>
    if loggedInUser && (String(loggedInUser._id) === String(video.owner))
        a(href=`${video.id}/edit`) Edit Video &larr;
        <br>
        a(href=`${video.id}/delete`) Delete Video &larr;     