extends base.pug
block content
    div#videoContainer.videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)#watchVideo
        div#videoControls.videoControls 
            button#play.videoControls__playBtn
                i(class="fa-solid fa-play fa-lg")
            button#mute.videoControls__MuteBtn
                i(class="fa-solid fa-volume-xmark fa-lg")
            input(type="range", step="0.1",value="0.5" min="0", max="1")#volume.videoControls__volume
            div.time
                span#currentTime 00:00
                span  /
                span#totalTime 00:00
            div 
            input#timeline.timeline(type="range", step="1", value=0, min="0")
            div 
                button#fullScreen
                    i(class="fa-solid fa-expand fa-lg")
    div.video-info             
        div.title
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
            div
                if loggedInUser && (String(loggedInUser._id) === String(video.owner._id))
                    a(href=`${video.id}/edit`) Edit Video &larr;
                    <br>
                    a(href=`${video.id}/delete`) Delete Video &larr;       
        div.info
            p="조회수" + video.meta.views  
            p=video.createdAt 
            p=video.hashtags
        div.description
            p=video.description     
    <br>
    div.video__add-comments
        form.video__comment-form#commentForm
            textarea(cols="30",rows="10" placeholder="Add a public comment")
            button Add Comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    div.id-Delete_box 
                        span #{comment.username}
                        if String(loggedInUser._id) === String(comment.owner._id)
                            span#deleteBtn ✖️
                    div.comment-text    
                        span #{comment.text}
block scripts 
    script(async src="https://kit.fontawesome.com/f2e0cef0ae.js" crossorigin="anonymous")
    script(src="/static/js/loading.js")
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")